@charset "UTF-8";

@import url('http://fonts.cdnfonts.com/css/montserrat');

body {
	background: linear-gradient(298.33deg, #FFB800 42.18%, #FBD03B 70.66%);
}

main {
	height: 90%;
}

#robot-photo {
	position: absolute;
	width: 366px;
	height: 477px;
	left: 850px;
	top: 80px;
}

#robot-circle {
	position: absolute;
	width: 652px;
	height: 608px;
	left: 750px;
	top: 200px;
	background: #CEE061;
	filter: blur(250px);
	top: 115px;
	z-index: -1;
}

#years-on-market-number {
	position: absolute;
	width: 45px;
	height: 52px;
	left: 212px;
	top: 90px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 72px;
	line-height: 88px;
	display: flex;
	align-items: center;
	color: #000000;
}

#years-on-market-text {
	position: absolute;
	width: 280px;
	height: 44px;
	left: 215px;
	top: 140px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 300;
	font-size: 36px;
	line-height: 44px;
	display: flex;
	align-items: center;
	color: #000000;
}

#copies-sold-digit {
	position: absolute;
	width: 353px;
	height: 74px;
	left: 215px;
	top: 250px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 72px;
	line-height: 88px;
	display: flex;
	align-items: center;
	color: #000000;
}

#copies-sold-text {
	position: absolute;
	width: 318px;
	height: 47px;
	left: 215px;
	top: 290px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 300;
	font-size: 36px;
	line-height: 44px;
	display: flex;
	align-items: center;
	color: #000000;
}

p {
	position: absolute;
	width: 525px;
	height: 269px;
	left: 215px;
	top: 410px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 275;
	font-size: 24px;
	line-height: 29px;
	display: flex;
	align-items: center;
	color: #000000;
}