@charset "UTF-8";

#grid {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	column-gap: 10%;
	height: 10%;
	background: #000;
}

#logo-photo {
	height: 40px;
	width: 40px;
}

.header-content {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	column-gap: 10%;
}

.header-content.div-link {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	column-gap: 10%;
	cursor: pointer;
}

.header-content:nth-child(3) {
	column-gap: 3%;
}