@charset "UTF-8";

@import url('http://fonts.cdnfonts.com/css/montserrat');

header {
	position: absolute;
	width: 100%;
	height: 80px;
	left: 0px;
	top: 0px;
	background: #000;
}

#logo-photo {
	position: absolute;
	left: 215px;
	top: 20px;
	height: 40px;
	width: 40px;
	float: left;
}

#logo-text {
	font-family: Montserrat;
	font-style: normal;
	position: absolute;
	left: 270px;
	top: 0px;
	color: #FFF;
}

.buttons>* {
	background: linear-gradient(270deg, #DAD3D3 50%, #FFFFFF 100%);
	border: 4px solid #525050;
	box-sizing: border-box;
	border-radius: 15px;
	text-align: center;
	vertical-align: middle;
	line-height: 35px;
}

#home-btn {
	background: linear-gradient(90deg, #525050 50%, #2F2F2F 100%);
	border: 4px solid #FFB800;
	box-sizing: border-box;
	border-radius: 15px;
	position: absolute;
	width: 140px;
	height: 42px;
	left: 450px;
	top: 20px;
}

#shop-btn {
	position: absolute;
	width: 140px;
	height: 42px;
	left: 610px;
	top: 20px;
}

#about-us-btn {
	position: absolute;
	width: 140px;
	height: 42px;
	left: 770px;
	top: 20px;
}

#contacts-btn {
	position: absolute;
	width: 140px;
	height: 42px;
	left: 930px;
	top: 20px;
}

#sign-in-text {
	position: absolute;
	width: 78px;
	height: 26px;
	left: 1155px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	margin: 30px;
	color: #FFFFFF;
	text-decoration: underline;
	text-decoration-thickness: 1px;
	text-underline-offset: 8px;
}

#register-text {
	position: absolute;
	width: 78px;
	height: 26px;
	left: 1250px;
	top: 0px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	margin: 30px;
	color: #FFFFFF;
	text-decoration: underline;
	text-decoration-thickness: 1px;
	text-underline-offset: 8px;
}

a {
	color: #000;
	text-decoration: none;
}