@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');

body {
	background: linear-gradient(298.33deg, #FFB800 42.18%, #FBD03B 70.66%);
	margin: 0;
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 100px;
}

.content-background {
	position: relative;
	width: 1170px;
	height: 530px;
	background: #000;
	border-radius: 20px;
}

.content-background:first-child {
	margin-top: 5%;
}

.content-background:last-child {
	margin-bottom: 5%;
}

.content-background:first-child>div[name=first-game] {
	margin-left: 2%;
	margin-top: 2%;
	width: 52.2%;
}

.content-background:first-child>div[name=first-game]>img {
	width: 610px;
	height: 408px;
}

.content-background:first-child>div[name=first-game]>div[name=gray-block] {
	display: flex;
	align-items: center;
	width: 610px;
	height: 62px;
	background: #606060;
}

.content-background:first-child>div[name=first-game]>div[name=gray-block]>div[name=discount-block] {
	width: 194px;
	height: 49.09px;
	background: #709B00;
	border-radius: 20px;
	margin-left: 1%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.content-background:first-child>div[name=first-game]>div[name=gray-block]>p[name=price] {
	position: absolute;
	right: 3%;
}

.content-background:first-child>div[name=second-and-third-game] {
	display: flex;
	flex-direction: column;
	row-gap: 28px;
	position: absolute;
	right: 2%;
	margin-top: 2%;
	top: 0;
}

.content-background:first-child>div[name=second-and-third-game]>div[name=third-game],
	.content-background:first-child>div[name=second-and-third-game]>div[name=second-game],
	.content-background:first-child>div[name=first-game] {
	position: relative;
}

.content-background:first-child>div[name=second-and-third-game]>div[name=third-game]:hover::after,
	.content-background:first-child>div[name=second-and-third-game]>div[name=second-game]:hover::after,
	.content-background:first-child>div[name=first-game]:hover::after {
	content: attr(data-title);
	position: absolute;
	left: 0;
	right: 0;
	top: 0px;
	z-index: 1;
	background: rgba(0, 42, 167, 0.6);
	color: #fff;
	text-align: center;
	font-family: Arial, sans-serif;
	font-size: 11px;
	padding: 5px 10px;
}

.content-background:first-child>div[name=second-and-third-game]>div[name=third-game]>img,
	.content-background:first-child>div[name=second-and-third-game]>div[name=second-game]>img {
	width: 451px;
	height: 180px;
}

.content-background:first-child>div[name=second-and-third-game]>div[name=second-game]>div[name=gray-block],
	div[name=third-game]>div[name=gray-block] {
	background-color: #606060;
	height: 40px;
	width: 451px;
	align-items: center;
	display: flex;
}

.content-background:first-child>div[name=second-and-third-game]>div[name=second-game]>div[name=gray-block]>p,
	div[name=third-game]>div[name=gray-block]>p {
	position: absolute;
	right: 3%
}