@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');

body {
	background: linear-gradient(298.33deg, #FFB800 42.18%, #FBD03B 70.66%);
	margin: 0;
}

.small-gray-block {
	display: flex;
	width: 451px;
	height: 40px;
	background: #606060;
	align-items: center;
	justify-content: flex-end;
}

.small-gray-block>* {
	margin-right: 6%;
}

.gray-block {
	display: flex;
	justify-content: space-around;
	align-items: center;
	column-gap: 50%;
	width: 610px;
	height: 62px;
	background: #606060;
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 90px;
	margin-bottom: 5%;
}

.content-background {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	width: 1170px;
	height: 530px;
	background: #000;
	border-radius: 20px;
}

.inner-container {
	display: flex;
	flex-direction: row;
}

#first-container {
	column-gap: 3%;
}

#second-container {
	column-gap: 5%;
}

#last-container {
	column-gap: 15%;
}

.game {
	display: flex;
	flex-direction: column;
}

#third-game-img, #second-game-img {
	width: 451px;
	height: 180px;
}

#first-game-img {
	width: 610px;
	height: 408px;
}

.small-game-img {
	width: 100px;
	height: 100px;
	border-radius: 50%;
}

.first-slider-item, .second-slider-item {
	width: 714px;
	height: 463px;
	animation-name: fade;
	animation-duration: 0.5s;
}

#slider-container .previous, #slider-container .next {
	cursor: pointer;
	position: relative;
	top: 45%;
	width: auto;
	color: #FFF;
	font-weight: bold;
	font-size: 50px;
}

#slider-container .previous {
	left: -90%;
}

#slider-container .next {
	left: -10%
}

#slider-container {
	display: flex;
}

div[name=second-and-third-game] {
	height: 100%;
	justify-content: center;
	display: flex;
	flex-direction: column;
	row-gap: 5%;
}

div[class=discount-block] {
	width: 194px;
	height: 49.09px;
	background: #709B00;
	border-radius: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.game-image-and-name {
	display: flex;
	flex-direction: row;
	align-items: center;
	height: 20%;
	width: 100%;
	justify-content: flex-start;
	column-gap: 5%;
}

.game-description {
	display: flex;
	flex-direction: column;
	width: 300px;
	height: 75%;
	justify-content: center;
	row-gap: 4%;
}

/* div[name=first-game], */
div[class=game] {
	position: relative;
}

/* div[name=first-game]:hover::after, */
div[class=game]:hover::after {
	content: attr(data-title);
	position: absolute;
	left: 0;
	right: 0;
	top: 0px;
	z-index: 1;
	background: rgba(0, 42, 167, 0.6);
	color: #fff;
	text-align: center;
	font-family: Arial, sans-serif;
	font-size: 18px;
	padding: 5px 10px;
}
/*  scroll-to-top-btn */
#back-to-top {
	width: 40px;
	line-height: 40px;
	overflow: hidden;
	z-index: 999;
	display: none;
	cursor: pointer;
	-moz-transform: rotate(270deg);
	-webkit-transform: rotate(270deg);
	-o-transform: rotate(270deg);
	-ms-transform: rotate(270deg);
	transform: rotate(270deg);
	position: fixed;
	bottom: 50px;
	right: 0;
	background-color: #DDD;
	color: #555;
	text-align: center;
	font-size: 30px;
	text-decoration: none;
}

#back-to-top:hover {
	background-color: #ffff00;
	color: #000;
}

/*  search-bar  */
#search-bar, #search-bar::placeholder {
	width: 1170px;
	height: 71px;
	left: 215px;
	top: 191px;
	background: #000000;
	border-radius: 10px;
	color: #FFF;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	line-height: 24px;
	display: flex;
	align-items: center;
}

#search-bar {
	margin-top: 5%;
}

/*  modal  */
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	padding-top: 100px; /* Location of the box */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0, 0, 0); /* Fallback color */
	background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
	position: relative;
	background-color: #000;
	margin: auto;
	padding: 0;
	border: 1px solid #888;
	width: 80%;
	height: 80%;
	-webkit-animation-name: animatetop;
	-webkit-animation-duration: 0.4s;
	animation-name: animatetop;
	animation-duration: 0.4s;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Add Animation */

/* The Close Button */
.close {
	color: white;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover, .close:focus {
	text-decoration: none;
	cursor: pointer;
}

.modal-header {
	padding: 2px 16px;
}

.modal-body {
	padding: 2px 16px;
}